<h1>Blobs</h1>

<p></p>
<!-- input file to upload only images -->
<div class="input-group my-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
      (change)="upload($event)" accept=".png, .jpg, .jpeg">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
<!-- in case still have no response -->
<p *ngIf="!blobs"><em>Loading...</em></p>

<div class='container' *ngIf="blobs">
  <div class='row'>
    <button class="btn btn-outline-danger float-right deleteAll" title="delete All blobs" (click)="deleteAll()">Delete All <i
        class="fa fa-remove"></i></button>
  </div>
  <div class='row'>
    <div class='row col-md-12'>
      <div class="col-sm-3 my-4" *ngFor="let blob of blobs">
        <img src='{{blob.uri}}' class="card-img-top img-size my-1" alt="..." />
        <button class="btn btn-outline-danger mx-2 delete" title="delete blob" (click)="delete(blob.name)">Delete <i
            class="fa fa-remove"></i></button>
        <a href="{{blob.uri}}" target="_blank" class="btn btn-outline-secondary download" title="download blob" >Download <i
            class="fa fa-download"></i></a>
      </div>
    </div>
  </div>
</div>